@tailwind base;
@tailwind components;
@tailwind utilities;

/*
make nav element on the left side of screen and 20% of screen width
*/
.nav-main-container{
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}


.login-input{
  color:black;
}

.form{
  display: flex;
  flex-direction: column;
  width: 50vh;
  justify-content: center;
  align-items: center;
  margin-top: 15vh;
  
}


.link{
  text-decoration: underline;
  color: blue;
  
}
.link:hover{
  color: blue;
  text-decoration: underline;
  cursor: pointer;
  background-color: none;
}


.description{
  /* background: lightgrey; */
  min-height: 200px;
  min-width: 200px;
  padding: 3rem;
  border-radius: 10%;
  /* margin-bottom: auto; */
}

/*
.loginbtn:hover{
  background: white;
  color: grey;
}*/
button:active{
  transform: scale(.95);
}
.form button{

  margin-top: 1rem;
  border-radius: 5px;
}
.form input{
  width: 100%;
}

.loginbtn {
  width: 200px;
  height: 30px;
  border: none;
  outline: none;
  background-color: #1F2937;
  padding: 10px 20px;
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  padding: 2px;
  border-radius: 5px;
  transition: all ease 0.1s;
  box-shadow: 0px 5px 0px 0px #374151;
}

.loginbtn:active {
  transform: translateY(5px);
  box-shadow: 0px 0px 0px 0px #1F2937;
}