@tailwind base;
@tailwind components;
@tailwind utilities;

button{
    background: #374151;
    width: 200px;
    height: 50px;
    border-radius: 10px;

}

button:active{
    transform: scale(.95);
}

.main-container{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #111827;
    color: white;

}


.dropdown-button{
    width: 100%;
    border-radius: 0%;
    background-color: #1F2937;
}

.dropdown-button:active{
    transform: scale(1);
}

.dropdown-container{
    border-width: 1.5px;
    padding: 0;
    margin: 0;
}

.scraped-textarea{
    min-height: 200px;
}


.llm-input{
    height: 30px;
    min-width: 100px;
    max-width: 400px;
    resize: none;
    vertical-align: center;
    margin-top: 1rem;
    border-radius: 5px;
}
.llm-button{
    height: 30px;
    margin-bottom: 5px;
    margin-left: 10px;
    border-radius: 5px;
    width: 200px;
    height: 50px;
    
}

.llm-prompter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;

}

.table-type{
    margin-top: 15px;
    width: 150px;
    height: 30px;
    color: black;
    border-radius: 5px;
}

.table-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    gap: 10px;
    min-width: 60%;
}

.container-filters{
    background-color: #1F2937;
    border-radius: 25px;
}


.web-scrapper-container{
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    margin-top: 150px;
    margin-bottom: 40px;
}

.specifics{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.user-ai-prompt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 60%;
}

.table-head{
    background-color: #1F2937;
}


.table-body{
    background-color: #1F2937;
}

.color2{
    background-color: #1F2937;
}